/* -- GLOBAL RULES -- */
body {
  font-family: sans-serif;
  color: #333b46; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px; }

h2 {
  font: 300 20px/46px 'Source Sans Pro'; }

p {
  font: 400 14px/24px 'Open Sans';
  letter-spacing: 1.5px; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

.block_name {
  text-align: center;
  color: #333b46;
  margin: 0 auto 60px; }
  .block_name h2 {
    font: 400 20px/46px 'Source Sans Pro';
    letter-spacing: 3px;
    text-transform: uppercase; }
  .block_name p {
    display: block;
    max-width: 510px;
    margin: 25px auto 0;
    text-transform: initial; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }

/* -- GLOBAL RULES END -- */
.section_content {
  max-width: 1170px;
  margin: auto;
  padding: 20px 0; }

/* -- TOP MENU -- */
nav.top_menu {
  height: 20px; }
  nav.top_menu .logo_menu {
    float: left; }
    nav.top_menu .logo_menu .logo_header {
      fill: #fff; }
  nav.top_menu ul {
    float: right; }
    nav.top_menu ul li {
      display: inline-block;
      vertical-align: top;
      margin: 0 6px;
      font: 400 16px/26px 'Open Sans'; }
      nav.top_menu ul li:last-child {
        margin-right: 0px; }
      nav.top_menu ul li a {
        color: #fff;
        padding: 5px 15px;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 45px; }
        nav.top_menu ul li a.active, nav.top_menu ul li a:hover {
          border: 1px solid white; }

/* -- TOP MENU END -- */
/* -- SECTION INCLUDED BLOCKS -- */
section {
  padding: 40px 0;
  /* -- WELCOME WORDS -- */
  /* -- WELCOME END -- */
  /* -- PORTFOLIO -- */
  /* -- PORTFOLIO END -- */
  /* -- THE TEAM -- */
  /* -- THE TEAM END -- */
  /* -- GLOBAL SLICK SLIDER CUSTOM RULES -- */
  /* -- GLOBAL SLICK SLIDER CUSTOM RULES END -- */
  /* -- ALREADY LOVED -- */
  /* -- ALREADY LOVED END -- */
  /* -- TESTIMONIALS -- */
  /* -- TESTIMONIALS END -- */
  /* -- GOOGLE MAP -- */
  /* -- GOOGLE MAP END-- */
  /* -- FOOTER -- */
  /* -- FOOTER END -- */ }
  section.section_welcome {
    height: calc(100vh);
    background: url(../img/bg-header.jpg);
    background-size: cover;
    text-align: center; }
    section.section_welcome .welcome_words {
      padding-top: 30vh;
      color: #fff; }
      section.section_welcome .welcome_words h1 {
        font: 300 35px/70px 'Source Sans Pro';
        text-transform: uppercase;
        letter-spacing: 4px; }
      section.section_welcome .welcome_words p {
        display: block;
        margin: 0px auto;
        font: 400 14px/26px 'Open Sans';
        letter-spacing: 1.5px;
        text-transform: initial;
        max-width: 620px; }
    section.section_welcome .btn_scroll {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 45px;
      margin: calc(35vh) auto 0;
      color: #fff;
      position: relative;
      background: #19bd9a; }
      section.section_welcome .btn_scroll:after {
        content: url(../img/arrow_scroll.png);
        position: absolute;
        left: calc(50% - 6px);
        bottom: 10px; }
  section.portfolio {
    background: #f3f3f3; }
    section.portfolio ul {
      margin-bottom: 50px;
      text-align: center; }
      section.portfolio ul li {
        display: inline-block;
        margin: 0 10px;
        position: relative; }
        section.portfolio ul li button {
          padding: 10px;
          font: 400 16px/18px 'Open Sans';
          color: #000;
          border: 0px;
          background: none; }
          section.portfolio ul li button:hover, section.portfolio ul li button:focus, section.portfolio ul li button:visited {
            border: 0px;
            box-shadow: none; }
        section.portfolio ul li.active:after {
          content: '';
          width: 40px;
          height: 2px;
          background: #19bd9a;
          position: absolute;
          left: calc(50% - 20px);
          bottom: -10px; }
    section.portfolio .portfolio-images {
      max-height: 770px;
      overflow: hidden; }
    section.portfolio .img-wrapper,
    section.portfolio .grid-sizer {
      width: 270px; }
      section.portfolio .img-wrapper img,
      section.portfolio .grid-sizer img {
        display: block;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%; }
    section.portfolio .img-wrapper {
      border: 3px solid #f3f3f3;
      border-collapse: collapse; }
  section.team {
    background: #fff; }
    section.team .slick-slide {
      margin-bottom: 60px;
      padding: 0 70px; }
      section.team .slick-slide img {
        float: left;
        width: 100%;
        max-width: 285px; }
      section.team .slick-slide p {
        float: right;
        width: 100%;
        max-width: 440px;
        text-align: right;
        color: #81868e;
        padding-right: 30px; }
        section.team .slick-slide p span {
          display: block;
          font: 400 20px/36px 'Open Sans';
          letter-spacing: 1.4px;
          color: #464646;
          margin: 20px 0 30px;
          position: relative; }
          section.team .slick-slide p span i {
            display: block;
            font: 300 14px/24px 'Source Sans Pro';
            text-transform: uppercase;
            color: #81868e;
            font-style: italic; }
          section.team .slick-slide p span::after {
            content: '';
            position: absolute;
            right: -30px;
            top: 0;
            width: 4px;
            height: 100%;
            background: #19bd9a; }
  section .slick-dots li {
    width: 10px;
    height: 10px; }
    section .slick-dots li button:before {
      line-height: 8px;
      width: 8px;
      height: 8px;
      content: '';
      opacity: 1;
      border: 1px solid #19bd9a;
      border-radius: 45px; }
    section .slick-dots li.slick-active button:before {
      opacity: .75;
      background: #19bd9a; }
  section.loved {
    background: url("../img/bg-loved.png") center center no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff; }
    section.loved h2 {
      font: 300 20px/24px 'Open Sans';
      margin-bottom: 30px; }
    section.loved a {
      display: block;
      width: 100px;
      padding: 0 20px;
      margin: 0px auto;
      border: 1px solid #fff;
      border-radius: 45px;
      color: #fff;
      font: 300 16px/36px 'Open Sans';
      transition: 0.3s; }
      section.loved a:hover {
        background: #fff;
        color: #000;
        transition: 0.3s; }
  section.testimonials {
    background: #f3f3f3; }
    section.testimonials .slick-slide {
      padding: 50px 70px 80px;
      background: #fff; }
      section.testimonials .slick-slide img {
        float: left;
        width: 135px;
        height: 135px;
        border-radius: 90px; }
      section.testimonials .slick-slide p {
        float: right;
        width: 100%;
        max-width: 770px;
        color: #81868e; }
        section.testimonials .slick-slide p span {
          display: block;
          font: 600 18px/30px 'Open Sans';
          text-transform: uppercase;
          letter-spacing: 1.4px;
          color: #19bd9a;
          margin: 20px 0 30px;
          position: relative; }
          section.testimonials .slick-slide p span i {
            display: block;
            font: 400 15px/18px 'Source Sans Pro';
            color: #81868e; }
    section.testimonials .slick-dots {
      bottom: 55px; }
  section.contactus .map {
    width: 100%;
    height: 450px; }
  section.footer {
    padding: 20px 0 50px;
    text-align: center; }
    section.footer .logo_footer {
      fill: #000; }
    section.footer p {
      color: #81868e; }
    section.footer li {
      display: inline-block;
      vertical-align: top;
      margin: 5px; }
      section.footer li a {
        display: block;
        width: 28px;
        height: 28px;
        line-height: 30px;
        border-radius: 90px; }
        section.footer li a:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          transition: 0.3s; }
      section.footer li #facebook {
        background: #3b5998; }
      section.footer li #twitter {
        background: #26a6d1; }
      section.footer li #linkedin {
        background: #0e76a8; }
      section.footer li #instagram {
        background: #3f729b; }
      section.footer li #vimeo {
        background: #86c9ef; }
      section.footer li .fab {
        color: #fff; }

/* -- SECTION INCLUDED BLOCKS END -- */

/*# sourceMappingURL=style.css.map */
