/* -- GLOBAL RULES -- */

body {
    font-family: sans-serif;
    color: #333b46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

h2 {
    font: 300 20px/46px 'Source Sans Pro';
}

p {
    font: 400 14px/24px 'Open Sans';
    letter-spacing: 1.5px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.block_name {
    text-align: center;
    color: #333b46;
    margin: 0 auto 60px;
    & h2 {
        font: 400 20px/46px 'Source Sans Pro';
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    & p {
        display: block;
        max-width: 510px;
        margin: 25px auto 0;
        text-transform: initial;
    }
}

:active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}


/* -- GLOBAL RULES END -- */

.section_content {
    max-width: 1170px;
    margin: auto;
    padding: 20px 0;
}


/* -- TOP MENU -- */

nav.top_menu {
    height: 20px;
    .logo_menu {
        float: left;
        & .logo_header {
            fill: #fff;
        }
    }
    ul {
        float: right;
        li {
            display: inline-block;
            vertical-align: top;
            margin: 0 6px;
            font: 400 16px/26px 'Open Sans';
            &:last-child {
                margin-right: 0px;
            }
            a {
                color: #fff;
                padding: 5px 15px;
                border: 1px solid rgba(255, 255, 255, 0);
                border-radius: 45px;
                &.active,
                &:hover {
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }
        }
    }
}


/* -- TOP MENU END -- */


/* -- SECTION INCLUDED BLOCKS -- */

section {
    padding: 40px 0;
    /* -- WELCOME WORDS -- */
    &.section_welcome {
        height: calc(100vh);
        background: url(../img/bg-header.jpg);
        background-size: cover;
        text-align: center;
        .welcome_words {
            padding-top: 30vh;
            color: #fff;
            h1 {
                font: 300 35px/70px 'Source Sans Pro';
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            p {
                display: block;
                margin: 0px auto;
                font: 400 14px/26px 'Open Sans';
                letter-spacing: 1.5px;
                text-transform: initial;
                max-width: 620px;
            }
        }
        .btn_scroll {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 45px;
            margin: calc(35vh) auto 0;
            color: #fff;
            position: relative;
            background: #19bd9a;
            &:after {
                content: url(../img/arrow_scroll.png);
                position: absolute;
                left: calc(50% - 6px);
                bottom: 10px;
            }
        }
    }
    /* -- WELCOME END -- */
    /* -- PORTFOLIO -- */
    &.portfolio {
        background: #f3f3f3;
        ul {
            margin-bottom: 50px;
            text-align: center;
            li {
                display: inline-block;
                margin: 0 10px;
                position: relative;
                button {
                    padding: 10px;
                    font: 400 16px/18px 'Open Sans';
                    color: #000;
                    border: 0px;
                    background: none;
                    &:hover,
                    &:focus,
                    &:visited {
                        border: 0px;
                        box-shadow: none;
                    }
                }
                &.active:after {
                    content: '';
                    width: 40px;
                    height: 2px;
                    background: #19bd9a;
                    position: absolute;
                    left: calc(50% - 20px);
                    bottom: -10px;
                }
            }
        }
        .portfolio-images {
            // HEIGHT FIXING FOR ONE-LINE IMAGES BOTTOM LIMIT. REMOVE IF YOU WILL HAVE MORE THAN 12 IMAGES
            max-height: 770px;
            overflow: hidden;
        }
        .img-wrapper,
        .grid-sizer {
            width: 270px;
            img {
                display: block;
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
            }
        }
        .img-wrapper {
            border: 3px solid #f3f3f3;
            border-collapse: collapse;
        }
    }
    /* -- PORTFOLIO END -- */
    /* -- THE TEAM -- */
    &.team {
        background: #fff;
        .slick-slide {
            margin-bottom: 60px;
            padding: 0 70px;
            img {
                float: left;
                width: 100%;
                max-width: 285px;
            }
            p {
                float: right;
                width: 100%;
                max-width: 440px;
                text-align: right;
                color: #81868e;
                padding-right: 30px;
                & span {
                    display: block;
                    font: 400 20px/36px 'Open Sans';
                    letter-spacing: 1.4px;
                    color: #464646;
                    margin: 20px 0 30px;
                    position: relative;
                    & i {
                        display: block;
                        font: 300 14px/24px 'Source Sans Pro';
                        text-transform: uppercase;
                        color: #81868e;
                        font-style: italic;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        right: -30px;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        background: #19bd9a;
                    }
                }
            }
        }
    }
    /* -- THE TEAM END -- */
    /* -- GLOBAL SLICK SLIDER CUSTOM RULES -- */
    .slick-dots li {
        width: 10px;
        height: 10px;
        & button:before {
            line-height: 8px;
            width: 8px;
            height: 8px;
            content: '';
            opacity: 1;
            border: 1px solid #19bd9a;
            border-radius: 45px;
        }
        &.slick-active button:before {
            opacity: .75;
            background: #19bd9a;
        }
    }
    /* -- GLOBAL SLICK SLIDER CUSTOM RULES END -- */
    /* -- ALREADY LOVED -- */
    &.loved {
        background: url('../img/bg-loved.png') center center no-repeat;
        background-attachment: fixed;
        text-align: center;
        color: #fff;
        & h2 {
            font: 300 20px/24px 'Open Sans';
            margin-bottom: 30px;
        }
        & a {
            display: block;
            width: 100px;
            padding: 0 20px;
            margin: 0px auto;
            border: 1px solid #fff;
            border-radius: 45px;
            color: #fff;
            font: 300 16px/36px 'Open Sans';
            transition: 0.3s;
            &:hover {
                background: #fff;
                color: #000;
                transition: 0.3s;
            }
        }
    }
    /* -- ALREADY LOVED END -- */
    /* -- TESTIMONIALS -- */
    &.testimonials {
        background: #f3f3f3;
        .slick-slide {
            padding: 50px 70px 80px;
            background: #fff;
            img {
                float: left;
                width: 135px;
                height: 135px;
                border-radius: 90px;
            }
            p {
                float: right;
                width: 100%;
                max-width: 770px;
                color: #81868e;
                & span {
                    display: block;
                    font: 600 18px/30px 'Open Sans';
                    text-transform: uppercase;
                    letter-spacing: 1.4px;
                    color: #19bd9a;
                    margin: 20px 0 30px;
                    position: relative;
                    & i {
                        display: block;
                        font: 400 15px/18px 'Source Sans Pro';
                        color: #81868e;
                    }
                }
            }
        }
        .slick-dots {
            bottom: 55px;
        }
    }
    /* -- TESTIMONIALS END -- */
    /* -- GOOGLE MAP -- */
    &.contactus {
        .map {
            width: 100%;
            height: 450px;
        }
    }
    /* -- GOOGLE MAP END-- */
    /* -- FOOTER -- */
    &.footer {
        padding: 20px 0 50px;
        text-align: center;
        .logo_footer {
            fill: #000;
        }
        p {
            color: #81868e;
        }
        li {
            display: inline-block;
            vertical-align: top;
            margin: 5px;
            a {
                display: block;
                width: 28px;
                height: 28px;
                line-height: 30px;
                border-radius: 90px;
                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
                    transition: 0.3s;
                }
            }
            #facebook {
                background: #3b5998;
            }
            #twitter {
                background: #26a6d1;
            }
            #linkedin {
                background: #0e76a8;
            }
            #instagram {
                background: #3f729b;
            }
            #vimeo {
                background: #86c9ef;
            }
            .fab {
                color: #fff;
            }
        }
    }
    /* -- FOOTER END -- */
}


/* -- SECTION INCLUDED BLOCKS END -- */