/* -- GLOBAL RULES -- */
body {
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  background: #000;
  position: relative; }
  body::-webkit-scrollbar {
    width: 0; }
  body {
    -ms-overflow-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px; }

h1,
h2 {
  font: 500 68px/86px 'Fira Sans';
  position: relative;
  margin-bottom: 30px; }
  h1:after,
  h2:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: -10px; }

h3 {
  font: 300 30px/54px 'Fira Sans'; }

h1 span,
h2 span {
  display: block;
  font: 300 36px/42px 'Fira Sans';
  color: #dfdfdf; }

p,
blockquote {
  font: 300 16px/30px 'Fira Sans';
  color: #dfdfdf; }
  p .author,
  blockquote .author {
    text-align: right;
    font: 300 14px/18px 'Fira Sans';
    color: #cccccc;
    font-style: italic; }
    p .author b,
    blockquote .author b {
      color: #fff;
      display: block;
      font-size: 16px;
      margin: 20px 0 5px; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

a,
a:hover {
  text-decoration: none;
  transition: all 0.2s ease-out; }

.container-fluid {
  position: relative;
  padding: 0px; }
  .container-fluid::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/bg-square-pixel.png");
    z-index: -1;
    top: 0;
    left: 0; }
  .container-fluid .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

section {
  height: 100vh;
  position: relative; }
  section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1; }
  section .scroll {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 60px;
    width: 24px;
    height: 45px;
    border: 2px dotted #b2b2b2;
    border-radius: 90px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer; }
    section .scroll::after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 90px;
      background: #ff9500;
      position: absolute;
      left: 50%;
      margin-left: -2px;
      top: 8px;
      opacity: 0.7;
      transition: all 0.3s ease-out; }
    section .scroll span {
      font: 300 12px/42px 'Fira Sans';
      position: absolute;
      top: 40px;
      left: -20px; }
    section .scroll:hover {
      color: #ff9500;
      background: rgba(255, 255, 255, 0.1);
      opacity: 1; }
      section .scroll:hover::after {
        top: 23px;
        opacity: 1;
        transition: all 0.3s ease-out; }

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0; }

.btn-ask {
  padding: 7px 21px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  display: inline-block;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s; }
  .btn-ask a {
    font: 300 18px/28px 'Fira Sans';
    color: #fff; }
  .btn-ask:hover {
    border: 1px solid #d5a479;
    background: rgba(108, 54, 9, 0.5);
    transition: all 0.3s; }

/* -- GLOBAL RULES END -- */
/* -- FIXED CONTENT -- */
.fixed-elements {
  position: fixed;
  z-index: 100; }
  .fixed-elements .name {
    position: fixed;
    top: 50px;
    left: 70px; }
    .fixed-elements .name a {
      font: 400 22px/22px 'Fira Sans';
      color: #fff; }
      .fixed-elements .name a span {
        display: block;
        font: 400 14px/14px 'Fira Sans';
        color: #b4b4b4;
        transition: all 0.3s ease-out; }
      .fixed-elements .name a:hover > span {
        color: #fff;
        transition: all 0.3s ease-out; }
  .fixed-elements .socials {
    position: fixed;
    top: 50px;
    right: 80px; }
    .fixed-elements .socials li {
      display: inline-block;
      vertical-align: top;
      width: 36px;
      height: 36px;
      margin: 5px;
      text-align: center; }
      .fixed-elements .socials li img {
        width: 70%;
        opacity: 0.7;
        transition: all 0.3s ease-out; }
        .fixed-elements .socials li img:hover {
          opacity: 1;
          transition: all 0.3s ease-out; }
  .fixed-elements #navbar .nav-right {
    position: fixed;
    display: block;
    right: 90px;
    top: 50%;
    transform: translate(0%, -50%); }
    .fixed-elements #navbar .nav-right:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 1px;
      height: 100%;
      left: 3px;
      top: 0;
      background: rgba(255, 255, 255, 0.3); }
    .fixed-elements #navbar .nav-right li {
      margin: 40px 0; }
      .fixed-elements #navbar .nav-right li a {
        display: block;
        width: 7px;
        height: 7px;
        padding: 3px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.85);
        opacity: 1;
        position: relative; }
        .fixed-elements #navbar .nav-right li a.active {
          width: 8px;
          height: 8px;
          background: white;
          box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3); }
        .fixed-elements #navbar .nav-right li a:hover {
          box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3); }
      .fixed-elements #navbar .nav-right li:first-child {
        margin-top: 0px; }
      .fixed-elements #navbar .nav-right li:last-child {
        margin-bottom: 0px; }
  .fixed-elements #navbar .container-fixed #toggle,
  .fixed-elements #navbar .container-fixed .toggle-container {
    display: none; }
  .fixed-elements #navbar .container-fixed .nav {
    display: block; }
  .fixed-elements #navbar .container-fixed .nav-left {
    position: fixed;
    left: 60px;
    top: 50%;
    transform: translate(0%, -50%); }
    .fixed-elements #navbar .container-fixed .nav-left li {
      margin: 10px 0;
      flex-direction: row; }
      .fixed-elements #navbar .container-fixed .nav-left li a {
        font: 300 18px/24px 'Fira Sans';
        color: #fff;
        opacity: 0.6;
        align-items: center; }
        .fixed-elements #navbar .container-fixed .nav-left li a:hover, .fixed-elements #navbar .container-fixed .nav-left li a.active {
          opacity: 1; }
        .fixed-elements #navbar .container-fixed .nav-left li a img {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: #fff;
          margin-right: 15px;
          border-radius: 90px;
          text-align: center;
          padding: 6px; }

/* -- FIXED CONTENT END -- */
/* -- WELCOME BLOCK -- */
#section_welcome::before {
  background: -moz-linear-gradient(45deg, rgba(54, 18, 66, 0.87) 0%, rgba(3, 27, 82, 0.87) 50%, rgba(0, 114, 135, 0.87) 100%);
  background: -webkit-linear-gradient(45deg, rgba(54, 18, 66, 0.87) 0%, rgba(3, 27, 82, 0.87) 50%, rgba(0, 114, 135, 0.87) 100%);
  background: linear-gradient(45deg, rgba(54, 18, 66, 0.87) 0%, rgba(3, 27, 82, 0.87) 50%, rgba(0, 114, 135, 0.87) 100%); }
#section_welcome h1:after {
  background: #ff9500;
  left: 0px; }
#section_welcome .photo {
  width: 100%;
  max-width: 350px;
  border: 5px solid #b4b4b4;
  border-radius: 100%; }
#section_welcome #video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -3;
  background-size: cover; }
#section_welcome #video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -3; }
@supports (object-fit: cover) {
  #section_welcome #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; } }

/* -- WELCOME BLOCK END -- */
/* -- BLOCK ABOUT -- */
#section_about::before {
  background: -moz-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%), url("../img/bg-block-about.png") center center no-repeat;
  background: -webkit-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%), url("../img/bg-block-about.png") center center no-repeat;
  background: linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%), url("../img/bg-block-about.png") center center no-repeat; }
#section_about h1:after {
  background: #b4c900;
  right: 0px; }
#section_about .skills {
  margin: 30px 0; }
  #section_about .skills h3 {
    margin-top: 20px; }
  #section_about .skills ul {
    padding: 0 55px 0 0;
    margin-top: 10px;
    position: relative; }
    #section_about .skills ul:after {
      content: '';
      position: absolute;
      top: -55px;
      right: 20px;
      height: 260px;
      width: 1px;
      background: #6a5c12; }
    #section_about .skills ul.last-column:after {
      display: none; }
    #section_about .skills ul li {
      font: 300 14px/20px 'Fira Sans';
      color: #dfdfdf;
      margin-bottom: 15px; }
      #section_about .skills ul li b {
        color: #fff; }
      #section_about .skills ul li:before {
        color: #e4ff00;
        float: left;
        margin: 0 0 0 -1em;
        width: 1em;
        content: '\2022'; }

/* -- BLOCK ABOUT END -- */
/* -- PROJECTS BLOCK -- */
#section_projects {
  /* Gallery */ }
  #section_projects::before {
    background: -moz-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%), url("../img/bg-block-projects.png") center center no-repeat;
    background: -webkit-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%), url("../img/bg-block-projects.png") center center no-repeat;
    background: linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%), url("../img/bg-block-projects.png") center center no-repeat; }
  #section_projects h1:after {
    background: #ff9500;
    left: 0px; }
  #section_projects .photo {
    width: 100%;
    max-width: 350px;
    border: 5px solid #b4b4b4;
    border-radius: 100%; }
  #section_projects .lightboxgallery-gallery {
    display: block;
    margin: 40px -10px; }
  #section_projects .lightboxgallery-gallery-item {
    cursor: zoom-in;
    display: block;
    float: left;
    width: 12%; }
    #section_projects .lightboxgallery-gallery-item img {
      width: 100%;
      border-radius: 3px; }
  @media only screen and (max-width: 767px) {
    #section_projects .lightboxgallery-gallery-item {
      width: 33.3333%; } }
  @media only screen and (max-width: 479px) {
    #section_projects .lightboxgallery-gallery-item {
      width: 50%; } }
  #section_projects .lightboxgallery-gallery-item > div {
    position: relative;
    margin: 10px; }
  #section_projects .lightboxgallery-gallery-item > div:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms; }
  #section_projects .lightboxgallery-gallery-item:hover > div:after {
    opacity: 1; }
  #section_projects .lightboxgallery-gallery-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    box-shadow: inset 0 0 50px #000; }
  #section_projects .lightboxgallery-gallery-item:hover .lightboxgallery-gallery-item-content {
    opacity: 1; }
  #section_projects .lightboxgallery-gallery-item-title {
    display: block;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px; }

/* -- PROJECTS BLOCK END -- */
/* -- CONTACTS BLOCK -- */
#section_contacts::before {
  background: -moz-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%), url("../img/bg-block-contact.png") center center no-repeat;
  background: -webkit-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%), url("../img/bg-block-contact.png") center center no-repeat;
  background: linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%), url("../img/bg-block-contact.png") center center no-repeat; }
#section_contacts h1:after {
  background: #b4c900;
  right: 0px; }
#section_contacts .social-contact {
  margin: 30px 0; }
  #section_contacts .social-contact a {
    display: block;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 10px;
    opacity: 0.8;
    max-width: 110px;
    margin: 0 auto; }
    #section_contacts .social-contact a.facebook:hover {
      background: #3B5998; }
    #section_contacts .social-contact a.linkedin:hover {
      background: #0077B5; }
    #section_contacts .social-contact a.dribbble:hover {
      background: #ea4c89; }
    #section_contacts .social-contact a:hover {
      opacity: 1; }
#section_contacts .contact-mail {
  text-align: center;
  margin: 10px 0; }
  #section_contacts .contact-mail a {
    text-transform: uppercase;
    font-weight: 400;
    color: #b4c900;
    margin: 20px 0; }

/* -- CONTACTS BLOCK END -- */
@media all and (max-width: 1600px) {
  .container {
    width: 900px; }

  h1,
  h2 {
    font: 500 48px/56px 'Fira Sans'; }

  h1 span,
  h2 span {
    font: 300 32px/38px 'Fira Sans'; }

  p,
  blockquote {
    font: 300 16px/26px 'Fira Sans'; } }
@media all and (max-width: 1370px) {
  .container {
    width: 800px; }

  h1,
  h2 {
    font: 500 48px/56px 'Fira Sans'; }

  p,
  blockquote {
    font: 300 14px/26px 'Fira Sans'; }

  h1 span,
  h2 span {
    font: 300 26px/32px 'Fira Sans'; }

  .fixed-elements .name {
    left: 50px; }
  .fixed-elements .socials {
    right: 40px; }
  .fixed-elements #navbar .nav-right {
    right: 50px; }
  .fixed-elements #navbar .container-fixed .nav-left {
    left: 40px; }
    .fixed-elements #navbar .container-fixed .nav-left li a {
      font: 300 18px/28px 'Fira Sans'; }
      .fixed-elements #navbar .container-fixed .nav-left li a span {
        margin-right: 10px; }

  #section_about .skills {
    margin: 0 0 20px; }
    #section_about .skills ul li {
      margin-bottom: 10px; } }
@media all and (max-width: 1200px) {
  h1,
  h2 {
    font: 500 42px/46px 'Fira Sans';
    margin-bottom: 10px; }

  h1:after,
  h2:after {
    display: none; }

  p .author,
  blockquote .author {
    text-align: center;
    font: 300 15px/30px 'Fira Sans'; }

  .container-fluid section {
    height: auto; }
    .container-fluid section .container {
      width: auto;
      height: auto;
      padding: 40px;
      position: unset;
      top: 0;
      left: 0;
      transform: unset; }
    .container-fluid section#section_welcome {
      padding-top: 60px;
      text-align: center; }
      .container-fluid section#section_welcome #video-bg {
        display: none; }
      .container-fluid section#section_welcome .photo {
        max-width: 300px;
        margin: 0 0 30px; }
      .container-fluid section#section_welcome .scroll {
        display: none; }

  .fixed-elements {
    background: rgba(25, 3, 33, 0.7);
    width: 100%;
    padding: 20px 30px;
    transition: all 350ms; }
    .fixed-elements .socials {
      display: none; }
    .fixed-elements .name {
      position: static;
      float: left; }
      .fixed-elements .name a {
        font: 400 28px/28px 'Fira Sans'; }
    .fixed-elements #navbar .nav-right {
      display: none; }
    .fixed-elements #navbar .container-fixed {
      position: relative;
      text-align: right; }
      .fixed-elements #navbar .container-fixed #toggle,
      .fixed-elements #navbar .container-fixed .toggle-container {
        display: block;
        /* Toggle button */ }
        .fixed-elements #navbar .container-fixed #toggle .button-toggle,
        .fixed-elements #navbar .container-fixed .toggle-container .button-toggle {
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 45px;
          top: 0px;
          right: 0px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: 0.6s; }
          .fixed-elements #navbar .container-fixed #toggle .button-toggle:before, .fixed-elements #navbar .container-fixed #toggle .button-toggle:after,
          .fixed-elements #navbar .container-fixed .toggle-container .button-toggle:before,
          .fixed-elements #navbar .container-fixed .toggle-container .button-toggle:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #EC7263;
            transition: 0.5s; }
          .fixed-elements #navbar .container-fixed #toggle .button-toggle:before,
          .fixed-elements #navbar .container-fixed .toggle-container .button-toggle:before {
            transform: translateY(-50%) rotate(45deg) scale(0); }
          .fixed-elements #navbar .container-fixed #toggle .button-toggle:after,
          .fixed-elements #navbar .container-fixed .toggle-container .button-toggle:after {
            transform: translateY(-50%) rotate(-45deg) scale(0); }
      .fixed-elements #navbar .container-fixed #toggle {
        position: absolute;
        right: -1000%;
        top: -1000%; }
      .fixed-elements #navbar .container-fixed #toggle:checked ~ .toggle-container .button-toggle:before {
        transform: translateY(-50%) rotate(45deg) scale(1); }
      .fixed-elements #navbar .container-fixed #toggle:checked ~ .toggle-container .button-toggle:after {
        transform: translateY(-50%) rotate(-45deg) scale(1); }
      .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav {
        margin-bottom: 50px;
        pointer-events: auto;
        transform: translate(0px, 50px); }
        .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item {
          color: #fff;
          letter-spacing: 0;
          height: 40px;
          line-height: 40px;
          margin-top: 0;
          opacity: 1;
          transform: scaleY(1);
          transition: 0.5s, opacity 0.1s; }
          .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(1) {
            transition-delay: 0.15s; }
            .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(1):before {
              transition-delay: 0.15s; }
          .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(2) {
            transition-delay: 0.1s; }
            .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(2):before {
              transition-delay: 0.1s; }
          .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(3) {
            transition-delay: 0.05s; }
            .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(3):before {
              transition-delay: 0.05s; }
          .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(4) {
            transition-delay: 0s; }
            .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:nth-child(4):before {
              transition-delay: 0s; }
          .fixed-elements #navbar .container-fixed #toggle:checked ~ .nav .nav-item:before {
            opacity: 0; }
      .fixed-elements #navbar .container-fixed .nav {
        display: inline-block;
        pointer-events: none;
        transition: 0.5s;
        transition: 0.5s; }
      .fixed-elements #navbar .container-fixed .nav-left {
        position: static;
        float: right;
        text-align: right;
        left: 0;
        margin: 0px;
        transform: inherit; }
        .fixed-elements #navbar .container-fixed .nav-left li {
          margin: auto; }
          .fixed-elements #navbar .container-fixed .nav-left li .nav-item {
            position: relative;
            display: inline-block;
            padding: 0px;
            float: right;
            clear: both;
            color: transparent;
            height: 7px;
            line-height: 7px;
            white-space: nowrap;
            transform: scaleY(0.2);
            transition: 0.5s, opacity 1s; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item img {
              display: none; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(1) {
              transition-delay: 0s; }
              .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(1):before {
                transition-delay: 0s; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(2) {
              transition-delay: 0.05s; }
              .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(2):before {
                transition-delay: 0.05s; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(3) {
              transition-delay: 0.1s; }
              .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(3):before {
                transition-delay: 0.1s; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(4) {
              transition-delay: 0.15s; }
              .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(4):before {
                transition-delay: 0.15s; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(1) {
              letter-spacing: -6px; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(2) {
              letter-spacing: -7px; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:nth-child(n+4) {
              letter-spacing: -8px;
              margin-top: -7px;
              opacity: 0; }
            .fixed-elements #navbar .container-fixed .nav-left li .nav-item:before {
              position: absolute;
              content: '';
              top: 50%;
              right: 0;
              width: 100%;
              height: 2px;
              background-color: #fff;
              transform: translateY(-50%) scaleY(5);
              transition: 0.5s; } }
@media all and (max-width: 768px) {
  h1,
  h2 {
    font: 500 42px/46px 'Fira Sans'; }

  h1:after,
  h2:after {
    display: none; }

  #section_about::before {
    background: -moz-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%);
    background: -webkit-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%);
    background: linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%); }
  #section_about .skills ul {
    padding: 0px; }
    #section_about .skills ul:after {
      display: none; }

  #section_projects::before {
    background: -moz-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%);
    background: -webkit-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%);
    background: linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%); }

  #section_contacts::before {
    background: -moz-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%) t;
    background: -webkit-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%);
    background: linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%) t; } }

/*# sourceMappingURL=style.css.map */
