/* -- GLOBAL RULES -- */

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;
body {
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    background: #000;
    position: relative;
    // transform: translate3d(0px, 0px, 0px);
    // transition: all 700ms ease;
    // Scroll kick off
    &::-webkit-scrollbar {
        width: 0;
    }
    & {
        -ms-overflow-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

h1,
h2 {
    font: 500 68px/86px 'Fira Sans';
    position: relative;
    margin-bottom: 30px;
    &:after {
        content: '';
        position: absolute;
        width: 60px;
        height: 1px;
        bottom: -10px;
    }
}

h3 {
    font: 300 30px/54px 'Fira Sans';
}

h1 span,
h2 span {
    display: block;
    font: 300 36px/42px 'Fira Sans';
    color: #dfdfdf;
}

p,
blockquote {
    font: 300 16px/30px 'Fira Sans';
    color: #dfdfdf;
    .author {
        text-align: right;
        font: 300 14px/18px 'Fira Sans';
        color: #cccccc;
        font-style: italic;
        b {
            color: #fff;
            display: block;
            font-size: 16px;
            margin: 20px 0 5px;
        }
    }
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a,
a:hover {
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.container-fluid {
    position: relative;
    padding: 0px;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/bg-square-pixel.png');
        z-index: -1;
        top: 0;
        left: 0;
    }
    & .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

section {
    height: 100vh;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: -1;
    }
    .scroll {
        position: absolute;
        left: 50%;
        margin-left: -12px;
        bottom: 60px;
        width: 24px;
        height: 45px;
        border: 2px dotted #b2b2b2;
        border-radius: 90px;
        color: #fff;
        opacity: 0.8;
        cursor: pointer;
        &::after {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 90px;
            background: #ff9500;
            position: absolute;
            left: 50%;
            margin-left: -2px;
            top: 8px;
            opacity: 0.7;
            transition: all 0.3s ease-out;
        }
        & span {
            font: 300 12px/42px 'Fira Sans';
            position: absolute;
            top: 40px;
            left: -20px;
        }
        &:hover {
            color: #ff9500;
            background: rgba(255, 255, 255, 0.1);
            opacity: 1;
            &::after {
                top: 23px;
                opacity: 1;
                transition: all 0.3s ease-out;
            }
        }
    }
}

 :active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}

.btn-ask {
    padding: 7px 21px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    display: inline-block;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
    a {
        font: 300 18px/28px 'Fira Sans';
        color: #fff
    }
    &:hover {
        border: 1px solid rgb(213, 164, 121);
        background: rgba(108, 54, 9, 0.5);
        transition: all 0.3s;
    }
}


/* -- GLOBAL RULES END -- */


/* -- FIXED CONTENT -- */

.fixed-elements {
    position: fixed;
    z-index: 100;
    & .name {
        position: fixed;
        top: 50px;
        left: 70px;
        & a {
            font: 400 22px/22px 'Fira Sans';
            color: #fff;
            & span {
                display: block;
                font: 400 14px/14px 'Fira Sans';
                color: #b4b4b4;
                transition: all 0.3s ease-out;
            }
            &:hover>span {
                color: #fff;
                transition: all 0.3s ease-out;
            }
        }
    }
    & .socials {
        position: fixed;
        top: 50px;
        right: 80px;
        & li {
            display: inline-block;
            vertical-align: top;
            width: 36px;
            height: 36px;
            margin: 5px;
            text-align: center;
            & img {
                width: 70%;
                opacity: 0.7;
                transition: all 0.3s ease-out;
                &:hover {
                    opacity: 1;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
    #navbar {
        .nav-right {
            position: fixed;
            display: block;
            right: 90px;
            top: 50%;
            transform: translate(0%, -50%);
            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                width: 1px;
                height: 100%;
                left: 3px;
                top: 0;
                background: rgba(255, 255, 255, 0.3);
            }
            & li {
                margin: 40px 0;
                a {
                    display: block;
                    width: 7px;
                    height: 7px;
                    padding: 3px;
                    border-radius: 100%;
                    background: rgba(255, 255, 255, 0.85);
                    opacity: 1;
                    position: relative;
                    &.active {
                        width: 8px;
                        height: 8px;
                        background: rgba(255, 255, 255, 1);
                        box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
                    }
                    &:hover {
                        box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
                    }
                }
                &:first-child {
                    margin-top: 0px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .container-fixed {
            #toggle,
            .toggle-container {
                display: none;
            }
            .nav {
                display: block;
            }
            .nav-left {
                position: fixed;
                left: 60px;
                top: 50%;
                transform: translate(0%, -50%);
                li {
                    margin: 10px 0;
                    flex-direction: row;
                    a {
                        font: 300 18px/24px 'Fira Sans';
                        color: #fff;
                        opacity: 0.6;
                        align-items: center;
                        &:hover,
                        &.active {
                            opacity: 1;
                        }
                        img {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            background: #fff;
                            margin-right: 15px;
                            border-radius: 90px;
                            text-align: center;
                            padding: 6px;
                        }
                    }
                }
            }
        }
    }
}


/* -- FIXED CONTENT END -- */


/* -- WELCOME BLOCK -- */

#section_welcome {
    &::before {
        background: -moz-linear-gradient(45deg, rgba(54, 18, 66, 0.87) 0%, rgba(3, 27, 82, 0.87) 50%, rgba(0, 114, 135, 0.87) 100%);
        background: -webkit-linear-gradient(45deg, rgba(54, 18, 66, 0.87) 0%, rgba(3, 27, 82, 0.87) 50%, rgba(0, 114, 135, 0.87) 100%);
        background: linear-gradient(45deg, rgba(54, 18, 66, 0.87) 0%, rgba(3, 27, 82, 0.87) 50%, rgba(0, 114, 135, 0.87) 100%);
    }
    & h1:after {
        background: #ff9500;
        left: 0px;
    }
    & .photo {
        width: 100%;
        max-width: 350px;
        border: 5px solid #b4b4b4;
        border-radius: 100%;
    }
    #video-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -3;
        background-size: cover;
    }
    #video-bg>video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -3;
    }
    @supports (object-fit: cover) {
        #video-bg>video {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/* -- WELCOME BLOCK END -- */


/* -- BLOCK ABOUT -- */

#section_about {
    &::before {
        background: -moz-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%), url('../img/bg-block-about.png') center center no-repeat;
        background: -webkit-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%), url('../img/bg-block-about.png') center center no-repeat;
        background: linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%), url('../img/bg-block-about.png') center center no-repeat;
    }
    & h1:after {
        background: #b4c900;
        right: 0px;
    }
    .skills {
        margin: 30px 0;
        h3 {
            margin-top: 20px;
        }
        ul {
            padding: 0 55px 0 0;
            margin-top: 10px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: -55px;
                right: 20px;
                height: 260px;
                width: 1px;
                background: #6a5c12;
            }
            &.last-column:after {
                display: none;
            }
            li {
                font: 300 14px/20px 'Fira Sans';
                color: #dfdfdf;
                margin-bottom: 15px;
                b {
                    color: #fff;
                }
                &:before {
                    color: #e4ff00;
                    float: left;
                    margin: 0 0 0 -1em;
                    width: 1em;
                    content: '\2022';
                }
            }
        }
    }
}


/* -- BLOCK ABOUT END -- */


/* -- PROJECTS BLOCK -- */

#section_projects {
    &::before {
        background: -moz-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%), url('../img/bg-block-projects.png') center center no-repeat;
        background: -webkit-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%), url('../img/bg-block-projects.png') center center no-repeat;
        background: linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%), url('../img/bg-block-projects.png') center center no-repeat;
    }
    & h1:after {
        background: #ff9500;
        left: 0px;
    }
    & .photo {
        width: 100%;
        max-width: 350px;
        border: 5px solid #b4b4b4;
        border-radius: 100%;
    }
    /* Gallery */
    .lightboxgallery-gallery {
        display: block;
        margin: 40px -10px;
    }
    .lightboxgallery-gallery-item {
        cursor: zoom-in;
        display: block;
        float: left;
        width: 12%;
        img {
            width: 100%;
            border-radius: 3px;
        }
    }
    @media only screen and (max-width: 767px) {
        .lightboxgallery-gallery-item {
            width: 33.3333%;
        }
    }
    @media only screen and (max-width: 479px) {
        .lightboxgallery-gallery-item {
            width: 50%;
        }
    }
    .lightboxgallery-gallery-item>div {
        position: relative;
        margin: 10px;
    }
    .lightboxgallery-gallery-item>div:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%);
        opacity: 0;
        -webkit-transition: opacity 400ms;
        transition: opacity 400ms;
    }
    .lightboxgallery-gallery-item:hover>div:after {
        opacity: 1;
    }
    .lightboxgallery-gallery-item-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        z-index: 2;
        opacity: 0;
        -webkit-transition: opacity 400ms;
        transition: opacity 400ms;
        box-shadow: inset 0 0 50px #000;
    }
    .lightboxgallery-gallery-item:hover .lightboxgallery-gallery-item-content {
        opacity: 1;
    }
    .lightboxgallery-gallery-item-title {
        display: block;
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 1.2;
        font-weight: bold;
        letter-spacing: 1px;
    }
}


/* -- PROJECTS BLOCK END -- */


/* -- CONTACTS BLOCK -- */

#section_contacts {
    &::before {
        background: -moz-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%), url('../img/bg-block-contact.png') center center no-repeat;
        background: -webkit-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%), url('../img/bg-block-contact.png') center center no-repeat;
        background: linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%), url('../img/bg-block-contact.png') center center no-repeat;
    }
    & h1:after {
        background: #b4c900;
        right: 0px;
    }
    .social-contact {
        margin: 30px 0;
        a {
            display: block;
            padding: 20px;
            border: 3px solid #fff;
            border-radius: 10px;
            opacity: 0.8;
            max-width: 110px;
            margin: 0 auto;
            &.facebook {
                &:hover {
                    background: #3B5998;
                }
            }
            &.linkedin {
                &:hover {
                    background: #0077B5;
                }
            }
            &.dribbble {
                &:hover {
                    background: #ea4c89;
                }
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .contact-mail {
        text-align: center;
        margin: 10px 0;
        a {
            text-transform: uppercase;
            font-weight: 400;
            color: #b4c900;
            margin: 20px 0;
        }
    }
}


/* -- CONTACTS BLOCK END -- */

// MEDIA RULES
@media all and (max-width: 1600px) {
    .container {
        width: 900px;
    }
    h1,
    h2 {
        font: 500 48px/56px 'Fira Sans';
    }
    h1 span,
    h2 span {
        font: 300 32px/38px 'Fira Sans';
    }
    p,
    blockquote {
        font: 300 16px/26px 'Fira Sans';
    }
}

@media all and (max-width: 1370px) {
    .container {
        width: 800px;
    }
    h1,
    h2 {
        font: 500 48px/56px 'Fira Sans';
    }
    p,
    blockquote {
        font: 300 14px/26px 'Fira Sans';
    }
    h1 span,
    h2 span {
        font: 300 26px/32px 'Fira Sans';
    }
    .fixed-elements {
        .name {
            left: 50px;
        }
        .socials {
            right: 40px;
        }
        #navbar {
            .nav-right {
                right: 50px;
            }
            .container-fixed {
                .nav-left {
                    left: 40px;
                    li a {
                        font: 300 18px/28px 'Fira Sans';
                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    #section_about {
        .skills {
            margin: 0 0 20px;
            ul li {
                margin-bottom: 10px;
            }
        }
    }
}

@media all and (max-width: 1200px) {
    h1,
    h2 {
        font: 500 42px/46px 'Fira Sans';
        margin-bottom: 10px;
    }
    h1:after,
    h2:after {
        display: none;
    }
    p .author,
    blockquote .author {
        text-align: center;
        font: 300 15px/30px 'Fira Sans';
    }
    .container-fluid {
        section {
            height: auto;
            .container {
                width: auto;
                height: auto;
                padding: 40px;
                position: unset;
                top: 0;
                left: 0;
                transform: unset;
            }
            &#section_welcome {
                padding-top: 60px;
                text-align: center;
                #video-bg {
                    display: none;
                }
                .photo {
                    max-width: 300px;
                    margin: 0 0 30px;
                }
                .scroll {
                    display: none;
                }
            }
        }
    }
    .fixed-elements {
        background: rgba(25, 3, 33, 0.7);
        width: 100%;
        padding: 20px 30px;
        transition: all 350ms;
        .socials {
            display: none;
        }
        .name {
            position: static;
            float: left;
            a {
                font: 400 28px/28px 'Fira Sans';
            }
        }
        // MOBILE MENU RULES 
        #navbar {
            .nav-right {
                display: none;
            }
            .container-fixed {
                position: relative;
                text-align: right;
                #toggle,
                .toggle-container {
                    display: block;
                    /* Toggle button */
                    .button-toggle {
                        position: absolute;
                        display: inline-block;
                        width: 40px;
                        height: 45px;
                        top: 0px;
                        right: 0px;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        transition: $transition-duration + 0.1;
                        // Making the "X" icon using `:before` and `:after` pseudo-elements
                        // Initially hidden because `scale(0)` transformation
                        &:before,
                        &:after {
                            position: absolute;
                            content: '';
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #EC7263;
                            transition: $transition-duration;
                        }
                        &:before {
                            transform: translateY(-50%) rotate(45deg) scale(0);
                        }
                        &:after {
                            transform: translateY(-50%) rotate(-45deg) scale(0);
                        }
                    }
                }
                #toggle {
                    position: absolute;
                    right: -1000%;
                    top: -1000%;
                }
                #toggle:checked {
                    &~.toggle-container .button-toggle {
                        &:before {
                            transform: translateY(-50%) rotate(45deg) scale(1);
                        }
                        &:after {
                            transform: translateY(-50%) rotate(-45deg) scale(1);
                        }
                    }
                    // Open nav
                    &~.nav {
                        margin-bottom: 50px;
                        pointer-events: auto;
                        transform: translate(0px, 50px);
                        .nav-item {
                            color: #fff;
                            letter-spacing: 0;
                            height: 40px;
                            line-height: 40px;
                            margin-top: 0;
                            opacity: 1;
                            transform: scaleY(1);
                            transition: $transition-duration, opacity 0.1s;
                            @for $i from 1 through $items {
                                &:nth-child(#{$i}) {
                                    $delay: ($items - $i) * $transition-delay;
                                    transition-delay: $delay;
                                    &:before {
                                        transition-delay: $delay;
                                    }
                                }
                            }
                            // Hiding the lines
                            &:before {
                                opacity: 0;
                            }
                        }
                    }
                }
                .nav {
                    display: inline-block;
                    pointer-events: none;
                    transition: 0.5s;
                    transition: $transition-duration;
                }
                .nav-left {
                    position: static;
                    float: right;
                    text-align: right;
                    left: 0;
                    margin: 0px;
                    transform: inherit;
                    li {
                        margin: auto;
                        .nav-item {
                            position: relative;
                            display: inline-block;
                            padding: 0px;
                            float: right;
                            clear: both;
                            color: transparent;
                            height: 7px;
                            line-height: 7px;
                            white-space: nowrap;
                            transform: scaleY(0.2);
                            transition: $transition-duration, opacity 1s;
                            & img {
                                display: none;
                            }
                            // Setting delays for the nav items in close transition
                            @for $i from 1 through $items {
                                &:nth-child(#{$i}) {
                                    $delay: ($i - 1) * $transition-delay;
                                    transition-delay: $delay;
                                    &:before {
                                        transition-delay: $delay;
                                    }
                                }
                            }
                            // Adjusting width for the first line
                            &:nth-child(1) {
                                letter-spacing: -6px;
                            }
                            // Adjusting width for the second line
                            &:nth-child(2) {
                                letter-spacing: -7px;
                            }
                            // Adjusting from the fourth element onwards
                            &:nth-child(n+4) {
                                letter-spacing: -8px;
                                margin-top: -7px;
                                opacity: 0;
                            }
                            // Getting the lines for the hamburger menu icon
                            &:before {
                                position: absolute;
                                content: '';
                                top: 50%;
                                right: 0;
                                width: 100%;
                                height: 2px;
                                background-color: #fff;
                                transform: translateY(-50%) scaleY(5);
                                transition: $transition-duration;
                            }
                        }
                    }
                }
            }
        }
        // MOBILE MENU RULES END
    }
}

@media all and (max-width: 768px) {
    h1,
    h2 {
        font: 500 42px/46px 'Fira Sans';
    }
    h1:after,
    h2:after {
        display: none;
    }
    #section_about {
        &::before {
            background: -moz-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%);
            background: -webkit-linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%);
            background: linear-gradient(45deg, rgba(78, 33, 0, 0.94) 0%, rgba(65, 53, 2, 0.94) 50%, rgba(169, 131, 16, 0.94) 100%);
        }
        .skills {
            ul {
                padding: 0px;
                &:after {
                    display: none;
                }
            }
        }
    }
    #section_projects {
        &::before {
            background: -moz-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%);
            background: -webkit-linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%);
            background: linear-gradient(45deg, rgba(54, 3, 11, 0.87) 0%, rgba(53, 0, 98, 0.87) 50%, rgba(0, 14, 100, 0.87) 100%);
        }
    }
    #section_contacts {
        &::before {
            background: -moz-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%)t;
            background: -webkit-linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%);
            background: linear-gradient(45deg, rgba(0, 57, 78, 0.94) 0%, rgba(2, 65, 61, 0.89) 50%, rgba(16, 58, 169, 0.91) 100%)t;
        }
    }
}